* {
	background-color: rgb(50,211,120);
}

h1 {
	font-family: 'Abril Fatface', cursive;
	color: white;
	font-size: 150px;
	letter-spacing: 0.2em;
	margin: 10px;
}


h2 {
	font-family:'Abril Fatface', cursive;
	color: white;
	font-size: 50px;
	letter-spacing: 0.2em;
}

h3 {
	font-family: 'Fira Code', monospace;
	font-size: 15px;
	color: white;
}

p {
	font-family:'Fira Code', monospace;
	text-align: left;
}

form {
	margin-top: 50px;
}

.form-control {
	width: 600px;
	background: transparent;
	border-bottom: 1px solid;
	color: white;
	font-size: 18px;
	margin-bottom: 16px;
	font-family: 'Fira Code', monospace;
}


input {
	height: 45px;
}

.submit {
	font-size: 20px;
	height: 50px;
	margin-top: 20px;
}

.submit:hover {
	background-color:pink;
	font-size:25px;
	cursor: pointer;

}

div {
	width:550px;
}

img {
  opacity: 0.8;
  filter: alpha(opacity=80);
  border-radius: 50%;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	background-color:pink;
	font-size:25px;
}

footer {
	position:absolute;
	bottom:0;
	width:100%;
	height:60px;			
	}

nav ul {
    padding:0;
    display: flex;
    justify-content: space-around;
    }   

nav ul li {
    list-style-type:none;
    padding:10px;
    width:100%;                                  
    }

nav ul li a {
    text-decoration:none;
    }

ul  {
	font-family:'Fira Code', monospace;
}    

p.resume {
	color: white;
	text-align: center;
}

.section {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
}

.article:not(:last-child) {
  margin-right: 16px;
}

@media (min-width: 1000px) {
  .section {
    flex-direction: row;
  }
}    

/* moved and combine the media to the bottom and added .submit
 and textare to query just to be safe */

@media (max-width:600px) {
    h1 {
        font-size: 72px;
	}

    .form-control {
        width: 300px;
	}	
	
	.submit {
		width: 300px;
	}

	textarea {
		width: 300px;
	}
}
